In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime
import time
import nltk
nltk.download('wordnet')
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer 
from PY_OZNAL_UTILS.oznal_utils import OZNAL_UTIL

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ramang\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ramang\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [9]:
# sentense = "Thank you very much, IAG goes up 9% in two days, we are beating C.I.T.A.D.E.L, Griffin fuck you."
# lemmatizer = WordNetLemmatizer() 
# x = nltk.word_tokenize(sentense)
# result = list(map(lemmatizer.lemmatize, x)) 
# if "IAG" in result:
#     print("kap")

kap

In [3]:
OZNAL = OZNAL_UTIL()
symbols = OZNAL.getStockSymbols()

In [4]:
#AAPL
start = datetime.datetime(2020,2,1)
end = datetime.datetime(2020,10,11)
OZNAL.downloadNASDAQHistoricalStockData("AAPL", start, end)

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2020-01-31,80.232498,80.669998,77.072502,77.377502,76.600517,199588400,AAPL
2020-02-03,76.074997,78.372498,75.555000,77.165001,76.390160,173985600,AAPL
2020-02-04,78.827499,79.910004,78.407501,79.712502,78.912079,136616400,AAPL
2020-02-05,80.879997,81.190002,79.737503,80.362503,79.555550,118826800,AAPL
2020-02-06,80.642502,81.305000,80.065002,81.302498,80.486107,105425600,AAPL
...,...,...,...,...,...,...,...
2020-10-05,113.910004,116.650002,113.550003,116.500000,116.125824,106243800,AAPL
2020-10-06,115.699997,116.120003,112.250000,113.160004,112.796555,161498200,AAPL
2020-10-07,114.620003,115.550003,114.129997,115.080002,114.710388,96849000,AAPL
2020-10-08,116.250000,116.400002,114.589996,114.970001,114.600739,83477200,AAPL
2020-10-09,115.279999,117.000000,114.919998,116.970001,116.594315,100506900,AAPL

In [5]:
### DATE, SYMBOL, FREQ, COUNT, UPVOTES, DOWNVOTES,  <- OPEN, HIGH, LOW, CLOSE, ADJ CLOSE, VOLUME